*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.curve-desktop {
  display: none;
}

.container {
  max-width: 20rem;
  margin: 0 auto;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact input {
  border: 1px solid hsl(243, 87%, 12%);
}
.contact input::placeholder {
  font-size: 14px;
  color: hsl(0, 0%, 75%);
}
.contact input:focus {
  outline: none;
}
.contact input,
.contact a {
  padding: 0.8rem 1.6rem;
  border-radius: 3px;
}
.contact a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: hsl(224, 93%, 58%);
  border: none;
  transition: background 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.contact a:hover {
  background-color: rgba(48, 101, 248, 0.8);
}

img {
  display: block;
  width: 100%;
}

nav {
  padding: 2rem 0;
}
nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > .container .logo img {
  width: 100px;
  cursor: pointer;
}
nav > .container .nav-links {
  display: flex;
  gap: 1.5rem;
  color: hsl(243, 87%, 12%);
}
nav > .container .nav-links a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

main {
  margin-bottom: 5rem;
}
main .img-container {
  padding: 3.5rem 0;
}
main .text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
main .text-container h1 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: hsl(243, 87%, 12%);
}
main .text-container p {
  color: hsl(243, 87%, 12%);
  line-height: 1.5;
}

section.info {
  background-color: #f8f8fe;
  padding-bottom: 6rem;
}
section.info .img-container img {
  padding: 4rem 0 6rem;
}
section.info .text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.info .text-container h2 {
  color: hsl(243, 87%, 12%);
  text-align: center;
  font-size: 1.1rem;
}
section.info .text-container > p {
  color: hsl(238, 22%, 44%);
  line-height: 1.5;
  font-size: 0.98rem;
}
section.info .text-container .info-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  gap: 0.5rem;
  transition: color 0.3s;
  margin-bottom: 1rem;
}
section.info .text-container .info-link a {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
}
section.info .text-container .info-link a:hover {
  color: rgba(60, 159, 143, 0.8);
}
section.info .text-container .info-link img {
  width: 25px;
}
section.info article {
  color: hsl(243, 87%, 12%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  background-color: #fff;
}
section.info article > img {
  width: 15px;
  margin-bottom: 5px;
}
section.info article > img + p {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 0.5rem;
}
section.info article .profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}
section.info article .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
section.info article .profile .profile-name {
  font-weight: 600;
  margin-bottom: 5px;
}
section.info article .profile .profile-name + p {
  font-size: 12px;
}

section.sign-up {
  padding: 4rem 0;
  color: #fff;
  text-align: center;
  background-color: hsl(238, 22%, 44%);
}
section.sign-up > .container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
section.sign-up > .container p {
  margin-top: 1rem;
  line-height: 1.5;
}
section.sign-up .contact {
  width: 80%;
  margin: 0 auto;
}
section.sign-up .contact a {
  font-size: 14px;
}

footer {
  background-color: hsl(243, 87%, 12%);
  padding: 4rem 0;
  color: #fff;
}
footer .links a:hover,
footer i:hover {
  color: hsl(224, 93%, 58%);
}
footer .contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4rem;
}
footer .contact-info .logo {
  margin-bottom: 1rem;
  width: 12rem;
}
footer .contact-info .phone,
footer .contact-info .email {
  display: flex;
  gap: 1rem;
  font-family: "Open Sans", sans-serif;
}
footer .contact-info .phone img,
footer .contact-info .email img {
  width: 25px;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .links a {
  color: inherit;
  text-decoration: none;
}
footer .links-col-1, footer .links-col-2 {
  margin-bottom: 4rem;
}
footer .social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
footer .social i {
  cursor: pointer;
  font-size: 30px;
}

@media (min-width: 700px) {
  html {
    font-size: 80%;
  }
  .container {
    max-width: 90%;
  }
  .curve-mobile {
    display: none;
  }
  .curve-desktop {
    display: block;
  }
  main .container {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  main .container .img-container {
    order: 1;
  }
  main .container .img-container img {
    max-width: 30rem;
  }
  main .container .text-container {
    max-width: 80%;
  }
  main .container .text-container .contact {
    justify-content: center;
    flex-direction: row;
  }
  section.info .container {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  section.info .container .img-container {
    order: 1;
    max-width: 90%;
  }
  section.info .container .text-container {
    text-align: left;
  }
  section.info .container .text-container h2 {
    font-size: 1.6rem;
  }
  section.info .container .text-container .info-link {
    margin-right: auto;
  }
  section.info .container .text-container article {
    max-width: 80%;
  }
  section.info .container .text-container article p {
    font-size: 10px;
  }
  section.sign-up .container {
    flex-direction: row;
  }
  section.sign-up .container > div {
    text-align: left;
  }
  footer {
    padding-bottom: 0;
  }
  footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */