// Colors
// Primary colors
$clr-primary-dark-blue: hsl(243, 87%, 12%);
$clr-primary-light-blue: hsl(238, 22%, 44%);

// Accent colors
$clr-acc-blue: hsl(224, 93%, 58%);
$clr-acc-cyan: hsl(170, 45%, 43%);

// Neutral colors
$clr-neu-grayish-blue: hsl(240, 75%, 98%);
$clr-neu-gray: hsl(0, 0%, 75%);

// Typography
// Font families
$ff-raleway: 'Raleway', sans-serif;
$ff-open-sans: 'Open Sans', sans-serif;
